Importing the Dependencies

In [42]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

Data Collection and Analysis

In [43]:
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('/content/diabetes_012_health_indicators_BRFSS2015.csv')

In [44]:
# checking the first 5 rows of the dataset
diabetes_dataset.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [45]:
# checking the last 5 rows of the dataset
diabetes_dataset.tail()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [46]:
#checking number of rows and Columns in this dataset
diabetes_dataset.shape

(253680, 22)

In [47]:
# getting the statistical measures or distributions of the data
diabetes_dataset.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [48]:
#checking for missing data
diabetes_dataset.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [49]:
#checking for the data types of the dataset
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [50]:
#checking the class distribution of the labels
diabetes_dataset['Diabetes_012'].value_counts()

0.0    213703
2.0     35346
1.0      4631
Name: Diabetes_012, dtype: int64

#This is an imbalance dataset

0....No diabetes

1...pre diabetes

2...Diabetes

#Under / over sampling of the dataset

#Build a sample dataset containing similar distribution of No diabetes,Pre diabetes & diabetes


#Number of Pre diabetes....4631
 or

# Number of No diabetes....213703

In [51]:
#No_diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 0]
#Pre_diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 1]
#diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 2]

No_diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 0]
Pre_diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 1]
diab = diabetes_dataset[diabetes_dataset['Diabetes_012']== 2]

In [52]:
print(No_diab.shape)
print(Pre_diab.shape)
print(diab.shape)

(213703, 22)
(4631, 22)
(35346, 22)

In [53]:
#No_diab_sample = No_diab.sample(n=4631)
#diab_sample = diab.sample(n=4631)

diab_sample = diab.sample(n=213703,replace=True)
Pre_diab_sample = Pre_diab.sample(n=213703,replace=True)

In [54]:
#print(No_diab_sample.shape)
#print(diab_sample.shape)

print(Pre_diab_sample.shape)
print(diab_sample.shape)

(213703, 22)
(213703, 22)

#concatenate the 3 dataframes

In [55]:
#diabetes_dataset = pd.concat([No_diab_sample,diab_sample, Pre_diab],axis =0)


diabetes_dataset = pd.concat([Pre_diab_sample,diab_sample, No_diab],axis =0)

In [56]:
diabetes_dataset.Diabetes_012.value_counts()

1.0    213703
2.0    213703
0.0    213703
Name: Diabetes_012, dtype: int64

In [57]:
diabetes_dataset.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
252451,1.0,0.0,1.0,1.0,23.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,30.0,0.0,0.0,1.0,7.0,2.0,2.0
167333,1.0,0.0,1.0,1.0,40.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,5.0,0.0,15.0,0.0,0.0,7.0,4.0,3.0
215196,1.0,0.0,1.0,1.0,29.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,4.0,8.0
117964,1.0,0.0,1.0,1.0,38.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,5.0,5.0
115076,1.0,0.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,4.0,0.0,30.0,1.0,0.0,8.0,5.0,5.0

In [58]:
for i in diabetes_dataset.columns:
  print(i)

Diabetes_012
HighBP
HighChol
CholCheck
BMI
Smoker
Stroke
HeartDiseaseorAttack
PhysActivity
Fruits
Veggies
HvyAlcoholConsump
AnyHealthcare
NoDocbcCost
GenHlth
MentHlth
PhysHlth
DiffWalk
Sex
Age
Education
Income

In [59]:
diabetes_dataset.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
252451,1.0,0.0,1.0,1.0,23.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,30.0,0.0,0.0,1.0,7.0,2.0,2.0
167333,1.0,0.0,1.0,1.0,40.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,5.0,0.0,15.0,0.0,0.0,7.0,4.0,3.0
215196,1.0,0.0,1.0,1.0,29.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,4.0,8.0
117964,1.0,0.0,1.0,1.0,38.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,5.0,5.0
115076,1.0,0.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,4.0,0.0,30.0,1.0,0.0,8.0,5.0,5.0

In [19]:
#diabetes_dataset.groupby('Outcome').mean()

In [60]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Diabetes_012', axis=1)
Y = diabetes_dataset['Diabetes_012']

In [21]:
pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [22]:
#smote = SMOTE()

In [23]:
#X_train_smote, Y_train_smote = smote.fit_resample(X_train,Y_train)

In [61]:
print(X)

        HighBP  HighChol  CholCheck   BMI  Smoker  Stroke  \
252451     0.0       1.0        1.0  23.0     1.0     0.0
167333     0.0       1.0        1.0  40.0     1.0     0.0
215196     0.0       1.0        1.0  29.0     0.0     0.0
117964     0.0       1.0        1.0  38.0     1.0     0.0
115076     0.0       1.0        1.0  26.0     1.0     1.0
...        ...       ...        ...   ...     ...     ...
253673     1.0       0.0        1.0  42.0     0.0     0.0
253674     0.0       0.0        1.0  27.0     0.0     0.0
253675     1.0       1.0        1.0  45.0     0.0     0.0
253677     0.0       0.0        1.0  28.0     0.0     0.0
253678     1.0       0.0        1.0  23.0     0.0     0.0

        HeartDiseaseorAttack  PhysActivity  Fruits  Veggies  ...  \
252451                   0.0           1.0     1.0      1.0  ...
167333                   0.0           1.0     0.0      1.0  ...
215196                   0.0           1.0     1.0      1.0  ...
117964                   0.0           1.0     1.0      1.0  ...
115076                   0.0           0.0     0.0      0.0  ...
...                      ...           ...     ...      ...  ...
253673                   0.0           1.0     1.0      1.0  ...
253674                   0.0           0.0     0.0      1.0  ...
253675                   0.0           0.0     1.0      1.0  ...
253677                   0.0           1.0     1.0      0.0  ...
253678                   0.0           0.0     1.0      1.0  ...

        AnyHealthcare  NoDocbcCost  GenHlth  MentHlth  PhysHlth  DiffWalk  \
252451            1.0          0.0      3.0      30.0       0.0       0.0
167333            1.0          1.0      5.0       0.0      15.0       0.0
215196            1.0          0.0      2.0       0.0       0.0       0.0
117964            1.0          0.0      3.0       0.0       1.0       1.0
115076            1.0          1.0      4.0       0.0      30.0       1.0
...               ...          ...      ...       ...       ...       ...
253673            1.0          0.0      3.0      14.0       4.0       0.0
253674            1.0          0.0      1.0       0.0       0.0       0.0
253675            1.0          0.0      3.0       0.0       5.0       0.0
253677            1.0          0.0      1.0       0.0       0.0       0.0
253678            1.0          0.0      3.0       0.0       0.0       0.0

        Sex  Age  Education  Income
252451  1.0  7.0        2.0     2.0
167333  0.0  7.0        4.0     3.0
215196  0.0  8.0        4.0     8.0
117964  0.0  2.0        5.0     5.0
115076  0.0  8.0        5.0     5.0
...     ...  ...        ...     ...
253673  1.0  3.0        6.0     8.0
253674  0.0  3.0        6.0     5.0
253675  1.0  5.0        6.0     7.0
253677  0.0  2.0        5.0     2.0
253678  1.0  7.0        5.0     1.0

[641109 rows x 21 columns]

In [62]:
print(Y)

252451    1.0
167333    1.0
215196    1.0
117964    1.0
115076    1.0
         ...
253673    0.0
253674    0.0
253675    0.0
253677    0.0
253678    0.0
Name: Diabetes_012, Length: 641109, dtype: float64

Train Test Split

In [63]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [64]:
print(X.shape, X_train.shape, X_test.shape)

(641109, 21) (512887, 21) (128222, 21)

Data Standardization

In [65]:
scaler = StandardScaler()

In [66]:
scaler.fit(X_train)

StandardScaler()

In [67]:
X_train = scaler.transform(X_train)

In [68]:
X_test = scaler.transform(X_test)

In [69]:
print(X_train)

[[-1.18505408 -1.12077838  0.146066   ...  0.44580806  1.07240887
   1.09966521]
 [ 0.84384335 -1.12077838  0.146066   ... -0.6281832  -0.8410828
   0.64312303]
 [-1.18505408  0.89223705  0.146066   ... -0.6281832   0.11566304
   0.18658085]
 ...
 [-1.18505408  0.89223705  0.146066   ...  0.08781097 -0.8410828
   0.18658085]
 [ 0.84384335  0.89223705  0.146066   ...  0.44580806  1.07240887
   0.64312303]
 [ 0.84384335 -1.12077838  0.146066   ...  0.08781097  1.07240887
   1.09966521]]

Training the Model

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn. ensemble import  BaggingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier

In [71]:
lr = LogisticRegression()
dt =  DecisionTreeClassifier(max_depth=50)
rf = RandomForestClassifier(n_estimators=10)
mlp = MLPClassifier(alpha=1, max_iter=10000)
bg = BaggingClassifier(DecisionTreeClassifier(), max_samples= 0.5, max_features = 1.0, n_estimators = 20)
adb = AdaBoostClassifier(DecisionTreeClassifier(),n_estimators = 5, learning_rate = 1)
#knn = KNeighborsClassifier(3)
#svc = svm.SVC(kernel='linear')

In [72]:
classifiers = [lr, dt, rf, mlp, bg ,adb]

Names = ['LR','DT','RF','MLP','BG','ADB']

#Model Evaluation

Accuracy

In [73]:
for i in range(len(classifiers)):
  classifiers[i].fit(X_train, Y_train)
  X_train_prediction = classifiers[i].predict(X_train)
  training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
  print('Trainining accuracy :', Names[i], training_data_accuracy)

Trainining accuracy : LR 0.5231132783634602
Trainining accuracy : DT 0.9936945175058054
Trainining accuracy : RF 0.9930588999136262
Trainining accuracy : MLP 0.5316356234414208
Trainining accuracy : BG 0.9862230861768772
Trainining accuracy : ADB 0.9936945175058054

In [74]:
for i in range(len(classifiers)):
  X_test_prediction = classifiers[i].predict(X_test)
  test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
  print('Testing accuracy :',Names[i], test_data_accuracy)

Testing accuracy : LR 0.5232643384130649
Testing accuracy : DT 0.9398855110667436
Testing accuracy : RF 0.9607633635413579
Testing accuracy : MLP 0.5315234515137808
Testing accuracy : BG 0.9392070003587528
Testing accuracy : ADB 0.9486749543760041

Making a Predictive System

In [78]:
for i in range(len(classifiers)):
  input_data = (1.0,1.0,1.0,24.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,4.0,6.0)

# changing the input_data to numpy array
  input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
  input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
  std_data = scaler.transform(input_data_reshaped)
  print(std_data)

  prediction = classifiers[i].predict(std_data)
  print(Names[i],prediction)

  if (prediction[0] == 0):
    print('The person is not diabetic')
  elif (prediction[0]== 1):
    print('pre diabetes')
  else:
    print('The person is diabetic')

[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
LR [2.]
The person is diabetic
[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
DT [2.]
The person is diabetic
[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
RF [2.]
The person is diabetic
[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
MLP [2.]
The person is diabetic
[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
BG [2.]
The person is diabetic
[[ 0.84384335  0.89223705  0.146066   -0.86464946  1.04051499 -0.2544607
  -0.41458964  0.66014054 -1.25498189  0.5267377  -0.21280842  0.2246757
  -0.34216188  0.10907451 -0.47493269 -0.58929928 -0.5942489   1.10419766
   1.16180223 -0.8410828   0.18658085]]
ADB [2.]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"